.products{
    display: flex;
    flex-wrap: wrap;
}

.product-card{
    flex: 1 16%;
}

@media (max-width: 920px) {
    .product-card {
      flex: 1 21%;
    }
  }

.card-img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
}

.card-title{
    font-size: 14px;
    font-weight: bold;
}

.card-price{
    font-size: 14px;
    font-weight: light;
}